@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "si";
		src: url("./fonts/SuisseIntl-Regular.woff2") format("woff2");
		font-weight: 400;
	}
	@font-face {
		font-family: "si";
		src: url("./fonts/SuisseIntl-Book.woff2") format("woff2");
		font-weight: 300;
	}
	@font-face {
		font-family: "si";
		src: url("./fonts/SuisseIntl-Medium.woff2") format("woff2");
		font-weight: 500;
	}

	@font-face {
		font-family: "so";
		src: url("./fonts/Sohne-Buch.woff2") format("woff2");
		font-weight: 400;
	}

	* {
		@apply box-content;
	}

	html {
		font-size: min(calc(100dvh / 1390 * 20), calc(100dvw / 2224 * 20));
	}

	body {
		background-color: #111;
		color: #f9f9f9;
		/* background-color: #f9f9f9;
		color: #1d1d1d; */
		font-family: "si";
		letter-spacing: 0.01em;
		font-kerning: normal;
		overflow-x: hidden;
		overflow-y: hidden;
		-webkit-font-smoothing: antialiased;
	}

	p {
		line-height: 1.5;
		margin-bottom: clamp(16px, 2rem, 30px);
		font-size: clamp(16px, 1.2rem , 20px);
	}

	p:last-child {
		margin-bottom: 0;
	}

	ul {
		margin-bottom: clamp(16px, 1.5rem, 30px);
	}

	ul li {
		line-height: 1.5;
		font-size: clamp(16px, 1.2rem , 20px);
	}


	p.big-p {
		font-size: clamp(16px, 2.5rem , 40px);
		width: 38ch;
	}

	h1 {
		font-family: "Tiempos Headline";
		font-size: calc((100dvh / 1390 * 20) * 30);
		font-weight: 300;
		line-height: 0.85;
		transform: translateY(0.05em);
	}

	h1 span {
		@apply text-nowrap;
		display: block;
	}

	h3,
	h4 {
		font-size: 36px;
	}

	.project-title {
		@apply box-content text-nowrap;
	}

	.slideshow-container {
		position: relative;
		width: 81dvh;
		height: 100dvh;
		overflow: hidden;
		margin: auto;
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.slide-image {
		width: 105%;
		height: 105%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	.progress-bar {
		position: absolute;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
		height: 3px;
		width: 120px;
		border-radius: 3px;
		background-color: rgba(249,249,249, 0.05);
	}

	.progress-fill {
		height: 100%;
		background-color: #f9f9f9;
		border-radius: 3px;
	}

	.nav-name {
		font-size: clamp(16px, 1.2rem , 20px);
		line-height: 1.5;
	}

	.rounded-button {
		padding: clamp(4px, 0.25rem, 8px) clamp(8px, 0.5rem, 16px);
		border-radius: clamp(2px, 0.5rem, 4px);
		overflow: auto;
	}

	.nav-column {
		min-width: clamp(250px,21rem,400px);
	}

	.demo-icon {
      font-family: "arrow";
      font-style: normal;
      font-weight: normal;
      speak: never;
	  font-size: clamp(12px, 1rem, 16px);
     
      display: inline-block;
      text-decoration: inherit;
      width: 0.8em;
      margin-right: .2em;
      text-align: center;
	  transform: translateY(-0.05em);
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

	.underlined {
		border-bottom: 1px solid rgba(249,249,249,0.25);
		padding: 0.1em 0;
	}
}
