@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "i";
		src: url("./fonts/is-v.woff2") format("woff2");
		font-stretch: 100%;
		font-weight: 400 500 600 700;
	}

	@font-face {
		font-family: "m";
		src: url("./fonts/fm.woff2") format("woff2");
		font-weight: 400;
	}

	@font-face {
		font-family: "m";
		src: url("./fonts/fm-b.woff2") format("woff2");
		font-weight: 600 700;
	}

	* {
		@apply box-content;
	}

	body {
		background-color: #0d0d0d;
		color: white;
		font-family: "Untitled Sans";
		font-kerning: normal;
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		font-feature-settings: "ss01" on, "ss05" on, "ss07" on, "ss09" on, "ss04" on, "ss06" on,
			"ss03" on;
	}

	h1 {
		@apply text-display-2 pb-u-1 leading-0-95 tracking-tight;
		font-variation-settings: "wght" 500, "wdth" 100;
	}

	h2 {
		@apply text-display-1 pt-u-1 pb-u-8 lg:pb-u-8 tracking-tight;
		font-variation-settings: "wght" 500, "wdth" 100;
	}

	h3 {
		@apply text-body-1 mb-p-bottom;
		font-variation-settings: "wght" 500, "wdth" 100;
	}

	h4 {
		@apply text-body-2 pb-2 lg:mb-5;
		font-variation-settings: "wght" 500, "wdth" 100;
	}

	h6 {
		@apply text-headline-1 font-medium lg:pb-5;
	}

	p {
		@apply text-body-1 mb-p-bottom leading-snug;
	}

	img {
		@apply w-full h-auto;
	}

	.dan-grid {
		@apply relative grid grid-cols-12 max-w-full px-5 gap-5 lg:px-16 mx-auto;
	}

	.project-info-grid {
		@apply relative lg:flex justify-between pb-8;
	}

	.project-info-grid-logo {
		@apply shrink-0 grow-0 w-u-2 lg:pr-8 xl:pr-12 pb-8;
	}

	.project-info-grid-info {
		@apply lg:max-w-[790px] w-full lg:px-8 xl:px-12;
	}

	.project-info-grid-outcome {
		@apply lg:max-w-[500px] w-full lg:px-8 xl:px-12;
	}

	.dan-grid-logo {
		@apply relative grid grid-cols-12 max-w-logo px-5 gap-5 lg:px-16 mx-auto;
	}

	.Typewriter {
		@apply inline-block align-top;
	}

	.Typewriter__wrapper {
		@apply inline-block align-top;
	}

	.outcome-image {
		@apply block absolute aspect-square w-2/5 lg:w-1/2 top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4;
	}

	.switch[data-isOn="true"] {
		justify-content: flex-end;
	}

	.fade-in {
		position: fixed;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50000;
	}

	.slide-container {
		@apply box-border;
		display: grid;
		grid-template-columns: 4fr 5fr 3fr 0fr 0fr;
		gap: 0;

		width: 100%;

		cursor: pointer;

		padding: 30px 15px;

		transition: grid-template-columns 0.4s;
	}

	.slide-element {
		overflow: hidden;
		display: flex;
		align-items: end;
	}

	.slide-figure {
		padding: 0 15px;
		width: 100%;

		img {
			width: 100%;
			height: auto;
			border-radius: 0.25rem;
		}
	}

	video {
		border-radius: 0.25rem;
	}

	.slide-figure-caption {
		font-family: m;
		font-size: 12px;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 1rem;
	}
}
