@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
	width: fit-content;
}

/* .swiper-wrapper {
	transition-duration: 0.05s !important;
	transition-timing-function: ease-out;
  } */

@layer base {
	@font-face {
		font-family: "si";
		src: url("./fonts/SuisseIntl-Regular.woff2") format("woff2");
		font-weight: 400;
	}
	@font-face {
		font-family: "si";
		src: url("./fonts/SuisseIntl-Book.woff2") format("woff2");
		font-weight: 450;
	}
	@font-face {
		font-family: "si";
		src: url("./fonts/SuisseIntl-Medium.woff2") format("woff2");
		font-weight: 500;
	}

	@font-face {
		font-family: "so";
		src: url("./fonts/Sohne-Buch.woff2") format("woff2");
		font-weight: 400;
	}

	* {
		@apply box-content;
	}

	body {
		background-color: #111;
		color: #f9f9f9;
		/* background-color: #f9f9f9;
		color: #1d1d1d; */
		font-family: "Untitled Sans";
		font-kerning: normal;
		font-size: 20px;
		overflow-x: hidden;
		overflow-y: hidden;
		-webkit-font-smoothing: antialiased;
	}

	h1 {
		font-weight: 500;
		font-size: 110px;
		line-height: 1.1;
	}

	h2 {
		font-size: 72px;
		font-weight: 500;
		letter-spacing: -0.01em;
	}

	h3 {
		@apply text-4xl pb-8 tracking-tight;
	}

	h4 {
		@apply text-[22px] pt-4;
	}

	h6 {
		@apply text-headline-1 font-medium lg:pb-5;
	}

	p {
		line-height: 1.6;
		margin-bottom: calc(20px * 1.6);
	}

	p:last-child {
		margin-bottom: 0;
	}

	ul {
		line-height: 1.6;
	}

	img,
	.img {
		@apply w-full h-auto;
	}

	.underline-link {
		line-height: 1.6;
		border-bottom: 1px solid rgba(249, 249, 249, 1);
	}

	.dan-grid {
		@apply relative grid grid-cols-12 max-w-full px-5 lg:px-16 mx-auto;
	}

	.project-info-grid {
		@apply relative lg:flex justify-between pb-8;
	}

	.project-info-grid-logo {
		@apply shrink-0 grow-0 w-u-2 lg:pr-8 xl:pr-12 pb-8;
	}

	.project-info-grid-info {
		@apply lg:max-w-[790px] w-full lg:px-8 xl:px-12;
	}

	.project-info-grid-outcome {
		@apply lg:max-w-[500px] w-full lg:px-8 xl:px-12;
	}

	.dan-grid-logo {
		@apply relative grid grid-cols-12 max-w-logo px-5 lg:px-16 mx-auto;
	}

	.Typewriter {
		@apply inline-block align-top;
	}

	.Typewriter__wrapper {
		@apply inline-block align-top;
	}

	.outcome-image {
		@apply block absolute aspect-square w-2/5 lg:w-1/2 top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4;
	}

	.fade-in {
		position: fixed;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50000;
	}

	.slide-container {
		@apply box-border;
		display: grid;
		grid-template-columns: 4fr 5fr 3fr 0fr 0fr;
		gap: 0;

		width: 100%;

		cursor: pointer;

		padding: 30px 15px;

		transition: grid-template-columns 0.4s;
	}

	.slide-element {
		overflow: hidden;
		display: flex;
		align-items: end;
	}

	.slide-figure {
		padding: 0 15px;
		width: 100%;

		img {
			width: 100%;
			height: auto;
			border-radius: 0.25rem;
		}
	}

	video {
		border-radius: 0.25rem;
	}

	.slide-figure-caption {
		font-family: m;
		font-size: 12px;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 1rem;
	}
}
